header {
    background-color:blue;
    
}
section {
    background-color: green;
}

article {
    background-color: tomato;
}

footer {
    background-color: turquoise;
}

span img {
    width: 250px;
    height: 250px;
}

h1 {
    letter-spacing: 5px;
    word-spacing: 20px;
}

h2{
    text-align: center;
}

#parrafo2 {
    text-transform: capitalize;
}

h4{
    text-shadow: 5px 3px green;
}